/* Transition 
---------------*/

/* .Backdrop {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
}

.BackdropOpen {
  display: block;
}

.BackdropClosed {
  display: none;
} */



/* ------------------------------------------------------ */

/* Animation :
--------------*/

.Backdrop {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
}

.BackdropOpen {
  animation: openBackdrop 250ms ease-in;
}

.BackdropClosed {
  opacity: 0;
  animation: closeBackdrop 500ms ease-in forwards;
}

@keyframes openBackdrop {
  0% {
    opacity: 0;
    transform: translateY(-100%);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes closeBackdrop {
  0% {
    opacity: 1;
    transform: translateY(0%);
  }


  80% {
    opacity: 0;
    /* transform: translateY(-100%); */
  }

  100% {
    opacity: 0;
    transform: translateY(-100%);
  }
}